{% extends 'store/base.html' %}
{% load static %}


{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-3">
    <div class="box">
      <img src="{{product.imageURL}}" width="100%">
      <h5>{{ product.name }}</h5>
      ~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용~~내용
      <hr>
      <button data-product={{product.id}} data-action="add" class="btn btn-secondary 장바구니업데이트">장바구니 담기</button>
      <a href="#" class="btn btn-secondary"> 상세보기</a>
      <h4 style="display: inline-block; float:right">\{{product.price}}</h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}

