body{
  background-color: #fff;
}

.box{
  box-shadow: hsl(30, 13%, 15%) 0 0 16px;
	background-color: #fff;
	border-radius: 3px;
	padding: 11px;
}

.장바구니줄{
	display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.장바구니이미지{
	width: 100px;
}

.수량버튼{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}


.수량{
	display: inline-block;
}
