body{
  background-color: #fff;
}


.box{
	margin: 30px 10px 10px 30px;
  box-shadow: hsl(67, 23%, 45%) 0 0 16px;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px;
}

.장바구니줄{
	display: flex;
  align-items: flex-stretch;
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.장바구니이미지{
	width: 100px;
}

.수량버튼{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}


.수량{
	display: inline-block;
}


.숨기기{
	display: none;
}


.comment {
	border-top:dotted 1px red;
	font-size:0.9em;
	margin: 20px 0px 20px 20px;
	background-color: yellow;
}



#searchform2{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}